{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="container"> 
    
    <div class="header">
        <h1>Beers on Tap</h1>
    </div>
    
    <div class="row-fluid">
        {% for tap in object_list %}
        <div class="span3">
            {% if tap.beer %}
            <h1>{{ tap.beer.name }}</h1>
            {% else %}
            <h1>None</h1>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="row-fluid">
        {% for tap in object_list %}
        <div class="span3">
            {% if tap.beer %}
            <h2>{{ tap.beer.brewery }}</h2>
            <h3>{{ tap.beer.style }}</h3>
            <a href="#tap{{ tap.tap_number }}" data-target="#tap{{ tap.tap_number }}" role="button" data-toggle="modal">
            <img src="{% static tap.beer.srm_image %}" height="150">
            <img src="{% static tap.level_image %}" width="80">
            </a>
            {% else %}
            <h2>&nbsp;</h2>
            <h3>&nbsp;</h3>
            <img src="{% static 'img/blank.png' %}" height="150">
            <img src="{% static 'img/kegs/0.png' %}" width="80">
    	    {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="row-fluid">
        {% for tap in object_list %}
        <div class="span3 beer-info">
            {% if tap.beer.abv %}{{ tap.beer.abv }}% ABV{% endif %}<br>
            {% for hops_image in tap.beer.hops_images %}
            <img class="hops" src="{% static hops_image %}">
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% for tap in object_list %}
    {% if tap.beer %}
    <div id="tap{{ tap.tap_number }}" class="modal hide fade" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2>{{ tap.beer.name }}</h2>
        </div>
        <div class="modal-body">
            <p>{{ tap.beer.description }}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
