{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<div id="header">
	<div id="headerboxa">
		<img src="{% static 'images/blank.png' %}" height="100">
	</div>		
	<div id="headerboxb">
		<h1>BEERS ON TAP</h1>
	</div>
</div>	
<br />


<table>
    <tr>
        <th>&nbsp;</th>
        <th>NAME</th>
        <th>INFO</th>
        <th>STATUS</th>
    </tr>
{% for tap in object_list %}
    {% if tap.beer %}
    <tr>
        <td><img src="{% static tap.beer.srm_image %}" height="150"></td>
        <td>
		    <h1>{{ tap.beer.name }}</h1>
	        <h2>
	            {{ tap.beer.style }}<br/>
	            {{ tap.beer.brewery }}
	        </h2>
	    </td>
	    <td class="beer-info">
	        {% if tap.beer.abv %}{{ tap.beer.abv }}%{% endif %}
		    <br /><h2>ABV</h2>
		    <img src="{% static tap.beer.hops_image %}" width="200">
		</td>
	    <td class="beer-status">
		    <img src="{% static tap.level_image %}" width="80">
	    </td>
	</tr>
	{% else %}
	<tr>
	    <td><img src="{% static 'images/blank.png' %}" height="150"></td>
	    <td><h1>None</h1></td>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	</tr>
	{% endif %}		
{% endfor %}
</table>

{% endblock %}